# VIMS requirements file for pip installation
# Run:
#       pip install -r requirements.txt
#
# NOTE: this requires a local webserver serving the package files

amqplib
anyjson
URLObject
behave
CherryPy
coverage
django
django-angular
django-bootstrap-form
django-braces
django-crispy-forms
django-debug-toolbar
django-extensions
django-filter
django-jenkins
django-menus
django-model-utils
django-nose
django-nose-selenium
django-states
django-waffle
django-sse
djangorestframework
docutils
Fabric
fabtools
fabric-virtualenv
factory_boy
fuzzywuzzy
gevent
gunicorn
huey
ipython
Jinja2
requests
kombu
lettuce
lxml
mechanize
mock
nose
nose-exclude
nosexcover
parse
pep8
pika
psutil
puka
pycrypto
Pygments
pylint
pytz
redis
salad
selenium
simplejson
Sphinx
splinter
ssh
supervisor
sure
watchdog
zope.event
zope.interface
zope.schema
zope.testbrowser
